#
# Network
#
#
# File Transfer
#
CONFIG_PACKAGE_curl=y
# end of File Transfer
#
# Firewall
#
CONFIG_PACKAGE_ip6tables-nft=y
CONFIG_PACKAGE_iptables-nft=y
CONFIG_PACKAGE_miniupnpd-nftables=y
CONFIG_PACKAGE_xtables-nft=y
# end of Firewall
#
# IP Addresses and Names
#
CONFIG_PACKAGE_mosdns=y
CONFIG_PACKAGE_v2ray-geoip=y
CONFIG_PACKAGE_v2ray-geosite=y
# end of IP Addresses and Names
#
# Routing and Redirection
#
CONFIG_PACKAGE_ip-full=y
# end of Routing and Redirection
#
# SSH
#
CONFIG_PACKAGE_openssh-client=y
CONFIG_PACKAGE_openssh-keygen=y
# end of SSH
#
# Tools
#
CONFIG_PACKAGE_wrtbwmon=y
# end of Tools
#
# VPN
#
CONFIG_PACKAGE_tailscale=y
CONFIG_PACKAGE_wireguard-tools=y
# end of VPN
#
# Web Servers/Proxies
#
CONFIG_PACKAGE_cgi-io=y
CONFIG_PACKAGE_ddns-go=y
CONFIG_PACKAGE_uhttpd=y
CONFIG_PACKAGE_uhttpd-mod-ubus=y
# end of Web Servers/Proxies
CONFIG_PACKAGE_6in4=y
CONFIG_PACKAGE_etherwake=y
CONFIG_PACKAGE_ethtool-full=y
CONFIG_PACKAGE_ipset=y
CONFIG_PACKAGE_iputils-arping=y
CONFIG_PACKAGE_libipset=y
CONFIG_PACKAGE_smartdns=y
CONFIG_PACKAGE_socat=y
# end of Network
